<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuan.lifefinance.tool">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_launch_new3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launch_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- <activity android:name=".Main2Activity"></activity> -->
        <activity android:name=".Main3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.MyScanReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!--配置自定义的 action（事件类型）-->
                <action android:name="honeywell.com.BARCODEDATA" />
            </intent-filter>

        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yuan.lifefinance.tool.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".HistoryInfoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".HistoryStockListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".SaleDetailActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".CompareStockActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".TempStockInfoActivity"
            android:launchMode="singleTask" />

        <service
            android:name=".services.StockPriceService"
            android:exported="false" />
        <service
            android:name=".services.TempStockPriceService"
            android:exported="false" />
    </application>

</manifest>