<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="activity.example.yuan.cn.test_xrecyclerview">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".RecyclerLinearActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".RecyclerChatActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity
            android:name=".DetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>

